* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --color: white;
    --border: 1px solid rgba(0, 0, 0, 0.171);
    --padding: 10px;
    --border-top: black;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

main {
    max-width: 840px;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;

}

h1 {
    color: var(--background-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    position: relative;
    width: 300px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    color: var(--border-top);
    position: absolute;
    top: 47px;
    left: 150px;
}


footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-top);
    text-align: center;
}