:root {
    --background-color: darkblue;
    --color: white;
    --border: 1px solid rgba(0, 0, 0, 0.171);
    --padding: 10px;
    --border-top: black;
}

main {
    max-width: 840px;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 300px;
    margin: 10px;
    border: var(--border);
    padding: var(--padding);
    background-color: rgba(241, 226, 226, 0.767);
    color: var(--border-top);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-top);
    text-align: center;
}