.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 15px;
    background-color: blue;
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid;
    padding: 3px;
    background-color: white;
    width: 15 0px;
    height: auto;
}

blockquote {
	margin: 0px;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 1px;
    text-align: right;
    font-size: smaller;
}