* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, san-serif;
    line-height: 1.6;
}
 header, footer {
    background-color: rgb(48, 47, 47);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(170, 167, 167);
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.288);
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 30px;
}
footer {
    font-size: 0.9rem;
}